*{
  margin: 0%;
  padding:0%;
  box-sizing: border-box;
  
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;  /* esto empuja el footer hacia abajo */
}